<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" lang="ko">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap&subset=korean" rel="stylesheet">

	<title>My Diary - mini Diary on web</title>

	<style type="text/css">
	* {
		margin: 0;
		padding: 0;
	}
	body {
		font-family: 'Roboto', sans-serif;
		font: 18px Arial, sans-serif;
		width: 100%;
	}
	ul {
   list-style-type: none;
  }
	.wrapper {
		margin: 40px;
		padding: 40px;
		/* border: 1px solid red; */
		width: 960px;
		height: 500px;
	}
	.history {
		/* border: 1px solid blue; */
		position: relative;
		float: left;
		width: 400px;
		height: 500px;
	}
	.history #keyword {
		margin: 0;
		padding: 0;
		width: 300px;
		height: 40px;
		font-size: 18px;
		font-family: inherit;
	}
	.history #search {
		margin: 0;
		padding: 0;
		width: 40px;
		height: 40px;
		font-size: 18px;
	}
	.list_view {
		margin-top: 20px;
		/* border: 1px solid blue; */
		position: relative;
		float: left;
		overflow: auto;
		width: 360px;
		font-size: 18px;
		/* display: none; */
	}
	.today {
		font-weight: bold;
		font-style: italic;
	}
	.written_list {
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		/* border: 1px solid orange; */
	}
	.calendar_view {
		margin-top: 20px;
		/* border: 1px solid blue; */
		position: relative;
		float: left;
		overflow: auto;
		width: 360px;
		font-size: 18px;
		/* display: none; */
	}
	.week_sun, .week_mon, .week_tue, .week_wed, .week_thu, .week_fri, .week_sat {
		padding-top: 10px;
		padding-bottom: 10px;
		/* border: 1px solid yellow; */
		width: 44px;
		text-align: center;
		display: inline-block;
		color: black;
	}
	.week_sun {
		color: red;
	}
	.week_sat {
		color: blue;
	}
	.editor_view {
		/* border: 1px solid green; */
		height: 500px;
		width: auto;
	}
	#memo {
		width: 550px;
		height: 420px;
		background: #7FFEFEFE;
		font-size: 20px;
		font-family: 'Noto Serif KR', serif;
	}
	#writen_date {
		padding: 10px;
		/* border: 1px solid purple; */
		width: auto;
		font-size: 24px;
	}
	.submit, .button {
		width: auto;
		font-size: 24px;
	}
  @media ( min-width: 1024px ) {
		body {
			background: #88C;
		}
	}
	</style>

</head>

<body>

	<div class="wrapper">

	<div class="history">
		<input type="text" id="keyword" placeholder="검색.."/>
						<!-- https://ra2kstar.tistory.com/51 -->
						<!-- 특정 문자열을 포함하는 데이터를 검색하는 방법은, 아래와 같은 query 문을 사용한다.
									SELECT * FROM 테이블명 WHERE memo LIKE '%문자열%';
						-->
		<!-- <input type="button" id="search" value="->" class="button"/> -->
		<a href="./diary?search=PC%>">[ -> ]</a>
		<div id="myList" class="list_view">
      <ul>
        <% for (var i=0; i< db.length; i++) { %>
          <li class="written_list">
						<% if (db[i].date.toLocaleDateString() == curr.toLocaleDateString()) { %>
							<span class='today'>
							<% var today_memo = db[i].memo%>
						<% } %>
					  <a href="./diary?date=<%=db[i].date.toLocaleString()%>" ><%=db[i].date.toLocaleString()%>: <%=db[i].memo%> </a>
						<% if (db[i].date.toLocaleString() == curr.toLocaleString()) { %>
							</span>
						<% } %>
          </li>
        <% } %>
				<% var prevM = new Date(curr); prevM.setMonth(prevM.getMonth()-1); %>
				<% var nextM = new Date(curr); nextM.setMonth(nextM.getMonth()+1); %>
      </ul>
    </div>
		<div id="myCalendar" class="calendar_view">
			<a href="./diary?date=<%=prevM.toLocaleString()%>">prev</a>
			<span id="year"><%=curr.getFullYear()%></span>.<span id="month"><%=curr.getMonth()+1%></span>
			<a href="./diary?date=<%=nextM.toLocaleString()%>">next</a>

			<div class="week_title">
				<span class='week_sun'>일</span>
				<span class='week_mon'>월</span>
				<span class='week_tue'>화</span>
				<span class='week_wed'>수</span>
				<span class='week_thu'>목</span>
				<span class='week_fri'>금</span>
				<span class='week_sat'>토</span>
			</div>

			<div class="week">
				<span class='week_sun'>.</span>
				<span class='week_mon'>.</span>
				<span class='week_tue'>.</span>
				<span class='week_wed'>1</span>
				<span class='week_thu'>2</span>
				<span class='week_fri'>3</span>
				<span class='week_sat'>4</span>
			</div>
			<div class="week">
				<span class='week_sun'>5</span>
				<span class='week_mon'>6</span>
				<span class='week_tue'>7</span>
				<span class='week_wed'>8</span>
				<span class='week_thu'>9</span>
				<span class='week_fri'>10</span>
				<span class='week_sat'>11</span>
			</div>
			<div class="week">
				<span class='week_sun'>12</span>
				<span class='week_mon'>13</span>
				<span class='week_tue'>14</span>
				<span class='week_wed'>15</span>
				<span class='week_thu'>16</span>
				<span class='week_fri'>17</span>
				<span class='week_sat'>18</span>
			</div>
			<div class="week">
				<span class='week_sun'>19</span>
				<span class='week_mon'>20</span>
				<span class='week_tue'>21</span>
				<span class='week_wed'>22</span>
				<span class='week_thu'>23</span>
				<span class='week_fri'>24</span>
				<span class='week_sat'>25</span>
			</div>
			<div class="week">
				<span class='week_sun'>26</span>
				<span class='week_mon'>27</span>
				<span class='week_tue'>28</span>
				<span class='week_wed'>29</span>
				<span class='week_thu'>30</span>
				<span class='week_fri'>31</span>
				<span class='week_sat'>.</span>
			</div>
		</div>
		<input type="button" id="goto_list" value="목록으로 보기" class="button"/>
		<input type="button" id="goto_calendar" value="달력으로 보기" class="button"/>
	</div>

  <div id="diary_form" class="editor_view">
    <form method="post" action="new_diary?date=<%=curr.toLocaleString()%>">
			<p id="writen_date"><%=curr.toLocaleString()%></p>
			<ul>
				<li>  <textarea name="memo" rows="4" id="memo"><%=(today_memo==null)?"오늘은..":today_memo%></textarea> </li>
				<li>	<input type="submit" class="submit" name="action" value="기록저장" />
				</li>
			</ul>
		</form>
  </div>

	</div>

<script>
	var show_date = function() {
		var title_date = document.getElementById('year');
		title_date.text = "<%=curr.toLocaleString()%>";
		console.log('Display <%=curr.toLocaleString()%> record.');
	}
	var prev_month = function() {
		console.log('go to previous month.');
	}
  var prev_month = function() {
		console.log('go to next month.');
	}
</script>


</body>

</html>
